/* Null style */

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    }

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


/* -------------------------------------------------------------------------------------------------- */

.wrapper{
    margin: 50px auto;
    width: 580px;
    background-color: #F8E8EE;
    padding: 50px 0px 50px;
    
}

.list{
    margin: 0px auto;
    width: 320px;
    min-height: 299px;
    border-radius: 10px;
    background-color: #E1ECC8;
    opacity: 0.7;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.34);
    font-family: 'Montserrat', sans-serif;
    
}

.list h2{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
}
.list__add {
    width: 280px;
    height: 30px;
    border-radius: 10px;
    position: relative;
    margin: 20px auto;
    display: flex;
    align-items: center;
    background-color: #FFCCCC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    

}

.list__input{
    width: 240px;
    height: 20px;
    background: transparent;
    position: absolute;
    left: 5px;
    
    
}

.list__button{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #FFDDCC;
    background-image: url(../img/add_icon.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    border-radius: 20px;
    right: 2px;

}



.list__items li{
    max-width: 280px;
    min-height: 30px;
    position: relative;
    margin: 10px auto;
    display: flex;
    word-break: normal;
    word-wrap: break-word;
    padding: 10px 30px;
    
}




.list__items li span::after{
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url(../img/delete_icon.png);
    background-color: #C4D7B2;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    border-radius: 20px;
    right: 2px; 
    top:4.5px  
}

.list__items li::before{
    content: '';
    width: 25px;
    height: 25px;
    background-image: url(../img/circle_icon.png);
    background-color: #C4D7B2;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 2px;
    top:4.5px
}

.list__items li.check{
    text-decoration: line-through;
    color: gray;
}

.list__items li.check::before{
    content: '';
    width: 25px;
    height: 25px;
    background-image: url(../img/check_icon.png);
    background-color: #C4D7B2;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    border-radius: 20px;
    margin-right: 1px;
    cursor: pointer;
    position: absolute;
    left: 0px;
}


